<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RefreshToken</key>
	<string>TG-67d22af97380950001b86525-2324480138</string>
	<key>ClientId</key>
	<string>3020745687408363</string>
	<key>ClientSecret</key>
	<string>cfOFD4So6wISgP0LOsBnGDjbgSl7Tg3O</string>
</dict>
</plist>
